.searchInput {
  background-color: rgb(245, 245, 245);
  width: 100%;
  /* margin-bottom: 20px; */
  border-radius: 2px;
  display: flex;
}

.input {
  background: none;
  width: calc(100% - 45px);
  height: 40px;
  padding-left: 15px;
  outline: none;
  border: none;
  /* font-size: 13px; */
  font-size: 14px;
}

.line {
  background-color: rgb(223, 223, 223);
  width: 1px;
  height: 40px;
  display: inline-block;
}

.iconContainer {
  position: relative;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon {
  position: absolute;
  opacity: 0;
  font-size: 18px;
  transition: opacity 0.2s ease-in-out;
}
