.contactList {
  /* height: calc(100% - 272px); */
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  flex: 1;
}

.contactList::-webkit-scrollbar {
  display: none;
}

.titleContainer {
  background-color: rgb(245, 245, 245);
  padding: 20px;
}

.title {
  font-size: 18px;
}

.contact {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid rgb(238, 238, 238);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.img {
  object-fit: cover;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.name {
  margin-left: 15px;
  font-size: 15px;
}

.icon {
  position: absolute;
  top: 35px;
  right: 20px;
  font-size: 14px;
  color: rgb(94, 94, 94);
}
