.button {
  background: linear-gradient(120deg, #4ea9f6, rgb(55, 118, 253));
  width: 280px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
