.messageInput {
  background-color: rgb(245, 245, 245);
  height: 45px;
  margin: 0 15px 15px 15px;
  border-radius: 2px;
  display: flex;
}

.input {
  background: none;
  width: calc(100% - 45px);
  padding: 0 15px;
  outline: none;
  border: none;
  font-size: 14px;
}

.iconContainer {
  background-color: rgb(49, 84, 199);
  width: 45px;
  height: 45px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

.icon {
  color: #fff;
  font-size: 18px;
}
