.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reactCrop {
  width: 280px;
}

.buttonsContainer {
  width: 280px;
  margin-top: 15px;
  display: flex;
}

.modalButton {
  width: 50%;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  cursor: pointer;
}

.otherAvatar {
  position: relative;
  width: 50%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.otherAvatarLabel {
  color: rgb(55, 118, 253);
  font-size: 13px;
}

.otherAvatarInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  opacity: 0;
  cursor: pointer;
}

.saveAvatar {
  background: linear-gradient(120deg, #4ea9f6, rgb(55, 118, 253));
}

.canvas {
  display: none;
}
