.chat {
  padding: 20px;
  /* border-bottom: 1px solid rgb(238, 238, 238); */
  display: flex;
  align-items: center;
  cursor: pointer;
}

.imgContainer {
  position: relative;
}

.status {
  position: absolute;
  bottom: 10px;
  right: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #fff;
}

.img {
  object-fit: cover;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.chatData {
  position: relative;
  width: calc(100% - 45px);
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.name {
  margin-bottom: 5px;
  font-size: 14px;
}

.lastMsg {
  color: rgb(94, 94, 94);
  font-size: 13px;
}

.timeAgo {
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(94, 94, 94);
  font-size: 13px;
}

.containerLine {
  display: flex;
  justify-content: flex-end;
}

.line {
  background-color: rgb(238, 238, 238);
  height: 1px;
  width: calc(100% - 75px);
}

.unreadMessages {
  position: absolute;
  right: 0;
  bottom: -8px;

  background-color: rgb(49, 84, 199);

  width: 20px;
  height: 20px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: 13px;
}
