.layout {
  /* background-color: #f7fbfe; */
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

.layout::-webkit-scrollbar {
  display: none;
}

.textContainer {
  text-align: center;
}

.title {
  margin-bottom: 15px;
  font-size: 25px;
}

.smallText {
  padding: 0 10px;
  line-height: 25px;
  text-align: center;
  color: #4f4f4f;
  font-size: 12px;
}

.form {
  margin-top: 40px;
}

.button {
  background: linear-gradient(120deg, #4ea9f6, rgb(55, 118, 253));
  width: 280px;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

.linkText {
  margin-top: 15px;
  color: #4f4f4f;
  font-size: 12px;
  text-align: center;
  display: block;
}

.link {
  text-decoration: none;
  color: rgb(55, 118, 253);
}
